# Dependencies
node_modules/

# Build output
dist/
release/builder-debug.yml
release/effective-config.json
release/@before-its-gone/
release/linux-arm64-unpacked/
release/linux-unpacked/
release/win-unpacked/
release/win-arm64-unpacked/
release/releases/
release/Old-Versions/
*.tsbuildinfo
packaging/

# Vite cache
.vite/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ROADMAP.md

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
