# Dependencies
node_modules/

# Build output
dist/
release/
*.tsbuildinfo

# Vite cache
.vite/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ROADMAP.md

# Docker
docker/certs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
/docs/packaging/linux/snap
/docs/packaging/macos
/docs/packaging/windows
